# Python / Flask
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# React / Node / Vite
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Database (MongoDB)
data/db/
mongodb_data/
*.log
*.sqlite

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
